@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.wrapper {
  width: 100%;
  padding: $spacing-lg;
  display: flex;
}

.menu {
  width: 20%;
  border-inline-end: none !important; // Bỏ viền dọc mặc định của antd menu nếu có

  :global {
    .ant-menu-item {
      &:hover {
        background-color: transparent !important;
      }
    }
    .ant-menu-item-selected {
      background-color: transparent !important;
      color: var(--color-primary) !important;

      span,
      a {
        color: var(--color-primary) !important;
      }
    }
  }
}

.content {
  width: 80%;
  height: calc(100vh - 100px);
  padding: $spacing-lg;
  background: var(--color-bg-secondary);
  border: 1px solid var(--color-bg-secondary);
  transition:
    background-color $transition-normal,
    border-color $transition-normal;
}
