@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.friend {
  display: flex;
}

.friendSidebar {
  width: 20%;
  height: 100%;
  border-right: 1px solid #e0e0e0;
}

.friendContent {
  width: 60%;
  border-right: 1px solid #e0e0e0;
}

.friendSideBarRight {
  width: 20%;
}
