@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.friend {
  display: flex;
  height: 100%;
}

.friendSidebar {
  width: 20%;
  border-right: 1px solid var(--color-border);
}

.friendContent {
  width: 60%;
  border-right: 1px solid var(--color-border);
}

.friendSideBarRight {
  width: 20%;
}
